﻿@page "/Ordhdr"
@using DataAccessLibrary
@using DataAccessLibrary.Models

@inject OrdhdrData _db

<h1>Ordhdr Nmcdev Data</h1>

<h4>Amazon Orders</h4>
@if (ordhdr is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Order Number</th>
                <th>Customer</th>
                <th>Svia</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in ordhdr)
            {
                <tr>
                    <td>@order.ORD</td>
                    <td>@order.CUST</td>
                    <td>@order.SVIA</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {

    private List<OrderModel> ordhdr;
    protected override async Task OnInitializedAsync()
    {
        ordhdr = await _db.GetOrder();
    }
}
